In [2]:
import pandas as pd

In [3]:
team_data = pd.read_csv('E2/static/data/df_agg_team.csv')

In [20]:
team_data = team_data[["Team Name", "3pt", "Free Throws"]]

In [21]:
pd.melt(team_data, id_vars=["Team Name"])

             Team Name     variable  value
0              retired          3pt   0.47
1        Atlanta Hawks          3pt   1.31
2       Boston Celtics          3pt   1.50
3        Brooklyn Nets          3pt   1.52
4    Charlotte Hornets          3pt   1.28
..                 ...          ...    ...
57    Sacramento Kings  Free Throws   2.23
58   San Antonio Spurs  Free Throws   3.23
59     Toronto Raptors  Free Throws   2.85
60           Utah Jazz  Free Throws   2.70
61  Washington Wizards  Free Throws   2.87

[62 rows x 3 columns]